repos:
-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    -   id: isort
-   repo: https://github.com/ambv/black
    rev: 24.1.1
    hooks:
    -   id: black
        language_version: python3
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies:
        -   flake8-black>=0.3.6
        -   Flake8-pyproject>=1.2.3
        -   flake8-bugbear>=23.3.23
        -   dlint>=0.14.0
        language_version: python3
